extends layout

block content
  h1= title
  br

  if status == "Correct"
    p(style="color:green;font-size:20px;") Upload status: #{status}

  else
    p(style="color:red;font-size:20px;") Upload status: #{status}

  p Passed #{passRate} test cases
  
  hr

  p(style="color:blue;") Your upload file is: #{file}

  if contents
    button(class="btn" onclick="displayFile()") Show File 
    br 
    p(id="showFile" style="display:none;") <br /> #{contents} 

  br

  button(class="btn btn-primary" onclick="move()") Upload Another File

  script.
    function move() {
      window.location.href = '/'
    }

    function displayFile() {
      document.getElementById('showFile').style.display = 'block';
    }

