extends layout

block content
  h1= title
  br

  if status == "Correct"
    p(style="color:green;font-size:20px;") Upload status: #{status}

  else
    p(style="color:red;font-size:20px;") Upload status: #{status}

  if passRate != null
    p Passed #{passRate} test cases
  
  hr

  p(style="color:blue;") Your upload file is: #{file}

  if contents
    pre
      code(class="python") #{contents}

  hr

  if output
    - var i = 1;
    div(id="outputDiv") 
      while i < output.length+1      
        div.container(id="tests")
          p(style="font-size:20px")= 'Test ' + i
          div.row
            div(class="col-md-6")
              p(style="color:#007cc9;font-size:20px")= 'Expected Output:'
              p(id="eOutput")= output[i-1][1]
            div(class="col-md-6")
              p(style="color:#007cc9;font-size:20px")= 'Actual Output:' 
              p(id="aOutput")= output[i-1][0]
        
        - i++

  button(class="btn btn-primary" id="redirectButton" onclick="move()") Upload Page

  script.
    function move() {
      window.location.href = '/';
    }

    function displayFile() {
      document.getElementById('showFile').style.display = 'block';
    }

    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"

