extends layout

block content
  h1= title
  br

  p#upload Your upload file is: #{file}

  if status == "Correct"
    p(style="color:green;") Upload status: #{status}

  else
    p(style="color:red;") Upload status: #{status}

  br

  if contents  
    p Your file: <br /> #{contents} 

  br

  button(class="btn btn-primary" onclick="move()") Upload Another File

  script.
    function move() {
      window.location.href = '/'
    }
